
# Flutter / Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock

# Android
android/.gradle
android/app/build/
.gradle/
local.properties

# iOS
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# Node.js (backend)
node_modules/
.env

# Ignorar dependências
node_modules/

