# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
Mobile/.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/app/.cxx/
/android/app/build/
/android/local.properties
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/gradle-wrapper.jar

# iOS build artifacts
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*

# Linux build artifacts
/linux/flutter/ephemeral/

# Custom additions
Mobile/project_uninassau-main/devtools_options.yaml

# Node.js modules
backend/node_modules/

# Exclude image folders if needed (optional)
# Mobile/project_uninassau-main/image/

# Exclude workspace files
*.code-workspace
*.workspace

# Exclude lock files (optional if you don't want to track them)
/yarn.lock
/package-lock.json

# Others (if used)
*.tmp
*.bak
